body {
    font-family: Arial, sans-serif;
}
table {
    border-collapse: collapse;
    width: 100%;
}
table, th, td {
    border: 1px solid #ccc;
}
th, td {
    padding: 10px;
    text-align: left;
}

form {
    display: grid;
    columns: 1;
    row-gap: 10px;
    width: 50%;
    margin-bottom: 20px;
}
.submit-button {
    width: 150px;
}
.error-text {
    color: #E00;
}
.hidden {
    display: none;
}